body {
    background-color: black;
}

#stylish{
    display: flex;
    justify-content: center;
    white-space: pre-wrap;
}

#bigpic{
    border-radius: 10%;
    opacity: 0.7;
    height: 500px;
}
#maystyle{

    position: absolute;
    display: inline-block;
    color: black;
    top: 90px;
    margin-right: 270px;
    text-shadow: 0 0 3px white;
    font-size: 200px;
    opacity: 0.7;
}
#parkerstyle{
    position: absolute;
    display: inline-block;
    color:black;
    top: 296px;
    margin-right: 100px;
    text-shadow: 0 0 3px white;
    font-size: 200px;
    opacity: 0.7;
}

#underbar{
    background-color: orange;
    height: 15px;
    margin-bottom: 15px;
}
.dropdown-menu {
    background-color: orange;
}