body {
    background-color: black;
}

#topflag {
    display: flex;
    align-items: center;
}

#meetstyle {
    position: relative;
    display: inline-block;
    color: black;
    text-shadow: 0 0 3px white;
    font-size: 80px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 7px solid lightskyblue;
}

.dropdown-menu {
    float: left;
    background-color: lightskyblue;
}

.table {
    margin-top: 20px;
    color: white;
    text-align: center;
}

.table > tbody > tr > td {
    border: none;
}

#createsong {
    float: right;
}